* {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    background-color: #f2f3f5;
}

.header {
    height: 60px;
    width: 100vw;
    background-color: #fff;
    color: #6f6f71;
    font-size: 0.9rem;
}

/* 主体 */
.header-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* 详情⻚主体 */
.article {
    width: 60vw;
    margin-top: 20px;
    margin-right: 20px;
    padding: 32px 24px 0px 24px;
    background-color: #fff;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 20vw;
    padding: 16px 20px 0px 20px;
    background-color: #fff;
}

/* 侧边栏 */
.author {
    display: flex;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ececec;
}

.author>img {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin-right: 10px;
}

.author>a>.name {
    font-size: 15px;
    margin-bottom: 5px;
}

.author>a>.introduce {
    font-size: 13px;
    color: #8b8d92;
}
.related-articles>p{
    height: 50px;
}
.related-articles-lists {
    border-top: 1px solid #ececec;
    padding: 2px;
}
.related-articles-lists>ul>li{
    line-height: 25px;
}
/* 顶部 Tab 栏 */
.logo {
    height: 60px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 12px;
}

.logo-img {
    display: block;
    width: 107px;
    height: 22px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 80px;
}

.menu-link-item:hover {
    background-color: #f7f8fa;
    border-bottom: 2px solid #1e80ff;
}